<!DOCTYPE html>

<!-- File origin: VS1LAB A1a -->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoTagApp</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>

<body>
        <header class="header row">
                <img src="./images/location.png" class="header__image col-4" alt="an image of a map and location">
                <h1 class="header__title col-4">GeoTagApp</h1>
                <nav class="header__navigation col-4">
                    <a href="#">About</a> | <a href="#">Help</a> | <a href="/">home</a>
                </nav>
        </header>
        <main class="main row">
                <section class="main__tagging tagging col-3">
                    <h2 class = "tagging__title">Tagging</h2>

                    <!-- ############### VS1Lab 1a Form 1 Start -->
                    <form id="tag-form" action="/tagging" method="post">

                        <!-- ... your code here ... -->
                        <fieldset>
                            <legend>Add a new GeoTag</legend>
                            <div id="tag-form-input-elements">
                                <label for="latitude">Latitude:</label>
                                <input type="text" id="latitude" name="latitude" placeholder="49.01379" required value="<%= latitude %>" pattern="^-?([0-8]?[0-9]|90)(\.[0-9]{1,10})?$">
                                <label for="latitude">Longitude:</label>
                                <input type="text" id="longitude" name="longitude" placeholder="8.404435" required value="<%= longitude %>" pattern="^-?([0-9]{1,2}|1[0-7][0-9]|180)(\.[0-9]{1,10})?$">
                                <label for="name">Name:</label>
                                <input type="text" id="name" name="name" placeholder="e. g. Berlin" required pattern=".{3,10}">
                                <label for="Hashtag">Hashtag:</label>
                                <input type="text" id="Hashtag" name="hashtag" placeholder="e. g. #ber" pattern="#.{1,9}">
                                <input type="submit" name="submit" id="send_geo_tag" value="add GeoTag">
                            </div>
                        </fieldset>
                    </form>
                    <!-- ############### VS1Lab 1a Form 1 End -->

                </section>
                <section class="main__discovery discovery col-9">
                    <h2 class="discovery__title">Discovery</h2>

                    <!-- ############### VS1Lab 1a Form 2 Start -->
                    <form class="discovery__search" id="discoveryFilterForm" action="/discovery" method="post">

                        <!-- ... your code here ... -->
                        <fieldset>
                            <legend>Search</legend>
                            <label for="searchterm">Search term or keywords:</label>
                            <input type="text" id="searchterm" name="searchterm" placeholder="e. g. Berlin">
                            <input type="hidden" id="hiddenLatitude" name="hiddenLatitude" value="<%= latitude %>">
                            <input type="hidden" id="hiddenLongitude" name="hiddenLongitude" value="<%= longitude %>">
                            <input type="submit" id="search_geo_tag" value="search">
                        </fieldset>
                    </form>
                    <!-- ############### VS1Lab 1a Form 2 End -->
                        <div class="discovery__wrapper row">
                            <div class="discovery__taglist col-3">
                                <ul class="discovery__results" id="discoveryResults">
                                    
<!-- TODO: HTML AUS AUFGABE2 HIERHER KOPIEREN UND DIE BEISPIEL-EINTRÄGE DER DISCOVERY-LISTE MIT DEN FOLGENDEN ZEILEN ERSETZEN -->
                                    <% if (taglist !== undefined) taglist.forEach(function(gtag) { %>
                                        <li><%= gtag.name %> ( <%= gtag.latitude %>,<%= gtag.longitude %>) <%= gtag.hashtag %> </li>
                                    <% }); %>

                                </ul>
                            </div>
                        <div class="discovery__map col-9">
                            <img src="./images/mapview.jpg" alt="a map with locations" id="mapView" data-tags="<%= JSON.stringify(taglist) %>"/>
                            <span>Result map</span>
                        </div>
                    </div>

                </section>
        </main>
    </div>
    <footer class="footer">
        <span>(c) 2021/22 HKA_IWI_VSYS</span>
    </footer>
    <script src="./javascripts/location-helper.js"></script>
    <script src="./javascripts/map-manager.js"></script>
    <script src="./javascripts/geotagging.js"></script>
</body>

</html>